---
---
/* Fonts */
/* ----------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700|PT+Mono);

/* Variables */
/* ----------------------------------------------------------*/
$bg-color: white;
$font-color: #999;
$link-color: #4FCBE0;
$linkhover-color: #2AA2B6;
$primary-font: 'Lato', Helvetica, Arial, sans-serif;
$pink-color: #E70A86;
$facebook-color: #36549A;
$twitter-color: #2CA9E0;
$youtube-color: #E74C3A;
$white-color: #fff;
$myviva: #50258B;
$scblue: #4FCBE0;
$scpink: #E6097b;
$sclightblue: #80D1E7;
$scgreen: #48BD9E;
$scpurple: #664E93;
$scyellow: #FED672;


/* Base */
/* ----------------------------------------------------------*/
body{
  font-family: $primary-font;
  font-weight: 300;
  font-size: 1.8em;
  color: $font-color;
  background-color: $bg-color;
  padding: 0px 0 0;
  margin: 0 0 0px;
}

a{
  color: $link-color;
  &:hover{
    color: $linkhover-color;
    text-decoration: none;
  }
  &:active{
    color: $linkhover-color;
    text-decoration: none;
  }
}
h1{font-size: 48px;}
h2{font-size: 36px;font-weight: 300;}
h3{font-size:28px;font-weight: 300;}
hr{
  background: rgba(black, 0.1);
  border-color: rgba(black, 0.1);
}




.github-icon-svg,
.twitter-icon-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
}


/* common elements */
/* ----------------------------------------------------------*/
.site-title{
  background: transparent url(/assets/img/logo.svg) no-repeat left center;
  background-size: 210px auto;
  height: 64px;
  width: 205px;
  display: block;
  float: left;
}
nav{
  top: 24px; 
  right: 0px; 
  font-size: 16px;
  position: relative;
  a{
    color: $font-color;
    margin-left: 20px;
  }
  a:hover{
    color: $scpink;
  }

}

/* Header */
/* ----------------------------------------------------------*/
.site-nav{

}
.social-nav{
  float: left;
  margin: -4px 0 0 25px;
  a{
    color: $white-color;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    display: block;
    text-align: center;
    margin-left: 5px;
    float: left;
    font-size: 20px;
    text-indent: -1px;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
    &:hover{
      opacity:0.8;
  }
  }
}
.facebook-icon-nav{
  background: $facebook-color no-repeat left center;
  padding-top: 1px;
}
.twitter-icon-nav{
  background: $twitter-color no-repeat left center;
  padding-top: 1px;
  padding-left: 2px;
}
.youtube-icon-nav{
  background: $youtube-color no-repeat left center;
  font-size: 20px;
}

/* Footer */
/* ----------------------------------------------------------*/
footer {
  padding: 40px 20px 30px;
  font-size:15px;
  h3{
    text-transform: uppercase;
    color: $scpink;
    font-size: 18px;
  }
  .contact-detail{
    text-align: right;
    .telephone {
      text-align: right;
      margin-left: 10px;
    }
    .address {
      float: left;
      text-align: left;
    }
  }
  .facebook-color{
    color: $facebook-color;
  }
  .twitter-color{
    color: $twitter-color;
  }
  .youtube-color{
    color: $youtube-color;
  }
  .social-footer{
    margin-top: 30px;
    .col-md-4{
      padding-right: 0;
    }
    a {
      margin-bottom: 10px;
    }
    a:hover{
        opacity:0.8;
    }
    .btn-social{
      border: 1px red solid;
      height: 40px;
      width: auto;
      margin-right: 5px;
      border-radius: 5px 5px 5px 5px;
    }
    .social-text{
      padding-top: 9px;
      border-radius: 5px 5px 5px 5px;
      border: 1px #B8CED4 solid;
      display: block;
      height: 40px;
      margin-left: 40px;
      &.youtube-color{
        border: 1px #F6C0BA solid;
      }  
      &.facebook-color{
        border: 1px #B9C5DE solid;
      } 
    }
    .icon-nav{
      color: $white-color;
      background-repeat: no-repeat;
      width: 43px;
      height: 40px;
      -webkit-border-radius: 5px 5px 5px 5px;
      border-radius: 5px 0 0 5px;
      display: block;
      text-align: center;
      float: left;
      margin-right: 8px;
      font-size: 27px;
      text-indent: -1px;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      padding: 1px;
    }
  }
 
}

/* ----------------------------------------------------------
**
PAGE SPECIFIC 
**
----------------------------------------------------------*/


/* Home */
/* ----------------------------------------------------------*/
.home-bg{
  background: transparent url(/assets/img/bg-home.jpg) no-repeat left center;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  height: 500px;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;
}
.home{
  padding: 100px 0;
  h1{
    font-weight: 300;
    font-size: 38px;
    line-height: 1.3em;
    color: $white-color;
    strong{
      color: $myviva;
      font-weight: normal;
      text-shadow: none;
    }
  }
  h2{
    font-weight: 300;
    font-size: 17px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
}
.hand{
  background: transparent url(/assets/img/img-home-hand-450.png) no-repeat left center; 
  width: 416px;
  height: 450px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  top: 120px;
  right: 0;
}
.intro{
  max-width: 420px;
  margin-top: 90px;
}

.work{
  background: white;
  .thumbnail{
    background: transparent; 
    padding: 0;
    border: none;
    margin-bottom: 30px;
  }
  .caption{
    display: none; 
  }
}
/* about-icons in Home */
.about-icons{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 10px;
  h3{  
    border-bottom: 2px solid;
    padding-bottom: 10px;
    margin-top: 12px;
  }
  p{
    font-size: 15px;
    line-height: 1.4em;
  }
  .about-icons-layout{
  margin-bottom: 30px;
  }
}
.circle{
  border-radius: 50%;
  width: 130px;
  height: 130px;
  background-color: red;
  margin: 0 auto;
}

.patients{
  .circle{
    background: $sclightblue url(/assets/img/icon-patients-.png) no-repeat top 25px left 37px;
  }
  h3{
    color: $sclightblue;
    border-color: $sclightblue;
  }
}
.providers{
  .circle{
    background: $scgreen url(/assets/img/icon-providers.svg) no-repeat top 42px left 39px;
  }
  h3{
    color: $scgreen;
    border-color: $scgreen;
  }
}
.pharma{
  .circle{
    background: $scpurple url(/assets/img/icon-pharma.png) no-repeat top 37px left 42px;
  }
  h3{
    color: $scpurple;
    border-color: $scpurple;
  }
}
.insurers{
  .circle{
    background: $scyellow url(/assets/img/icon-insurers.svg) no-repeat top 32px left 43px;
  }
  h3{
    color: #F2C751;
    border-color: #F2C751;
  }
}

/* Partners in Home */
.partners{
  background-color: #3cbbdb;
  color: $white-color;
  padding: 20px 20px 30px;
  h3{
    text-align: center;
    font-weight: 100;
  }
}
.underline {
  max-width: 180px;
  border-bottom: solid 1px $white-color;
  margin: 0 auto;
}

.partners-quitline{
  background: transparent url(/assets/img/partners-quitline.png) no-repeat center;
  height: 110px;
}
.partners-pfizer{
  background: transparent url(/assets/img/partners-pfizer.png) no-repeat center;
  height: 110px;
}
.partners-open{
  background: transparent url(/assets/img/partners-open.png) no-repeat center;
  height: 110px;
}
.partners-acc{
  background: transparent url(/assets/img/partners-acc.png) no-repeat center;
  height: 110px;
}
.partners-smokefree{
  background: transparent url(/assets/img/partners-smokefree.png) no-repeat center;
  height: 110px;
}

.partners-abbvie{
  background: transparent url(/assets/img/partners-abbvie.png) no-repeat center;
  height: 110px;
}

.partners-heart-foundation{
  background: transparent url(/assets/img/partners-heart-foundation.png) no-repeat center;
  height: 110px;
}
.partners-abbvie{
  background: transparent url(/assets/img/partners-abbvie.png) no-repeat center;
  height: 110px;
}
.partners-pilot{
  background: transparent url(/assets/img/partners-pilot.png) no-repeat center;
  height: 110px;
}

/* Featured */
/* ----------------------------------------------------------*/
.featured{
  background-color: #eef7f9;
  color: #7A9EA7;
  padding: 20px 20px 30px;
  h3{
    text-align: center;
    font-weight: 100;
  }

.featured-e-mag{
  background: transparent url(/assets/img/featured-e-mag.png) no-repeat center;
  height: 50px;
}
.featured-3news{
  background: transparent url(/assets/img/featured-3news.png) no-repeat center;
  height: 50px;
}
.featured-venture-beat{
  background: transparent url(/assets/img/featured-venture-beat.png) no-repeat center;
  height: 50px;
}
}

/* Hero */
/* ----------------------------------------------------------*/

.hero {
  height: 560px;
  /*position: relative;
  width: 100%;*/
}


/* Generic */
/* ----------------------------------------------------------*/
.right{
    float:right; 
  }
.left{
    float:left; 
  }

.z-show{
  z-index: 1;
}

.top-m-10{
  margin-top: 10px;
}
.top-m-20{
  margin-top: 20px;
}
.top-m-30{
  margin-top: 30px;
}
.bottom-m-10{
  margin-bottom: 10px;
}
.bottom-m-20{
  margin-bottom: 20px;
}
ul{
  padding: 0;
  &.none{
    list-style-type: none;  
  }
}


  /* header */
/* ----------------------------------------------------------*/
  
.header{
  border-top: 2px solid $pink-color;
  position: fixed;
  z-index: 3;
  background-color: rgba(255, 255, 255, 0.92);
  width: 100%;
  height: 70px;
}

  /* icons */
/* ----------------------------------------------------------*/
.fa {

}

  /* headers */
/* ----------------------------------------------------------*/
.hero-fullbackground {
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.background{
  color: $white-color;
  text-shadow: 0px 1px 0px rgba(0,0,0,0.20);
}

/* common elements */
/* ----------------------------------------------------------*/




/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .gd .x { color: #000000; background-color: #ffaaaa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .gi .x { color: #000000; background-color: #aaffaa } /* Generic.Inserted.Specific */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */