---
---

/* Mobile */
@media (max-width: 423px) {
  .about-icons {
  	margin-top: 10px;
  	.col-xs-6 {
    	width: 99%;
      margin-top: 30px;
  	}

  }
  .home h1 {
	font-size: 28px;
  }
  .partners{
  	.col-xs-6 {
    	background-size: 80%;
  	}
  }
}


/*  iPad etc */

@media (min-width: 423px) and (max-width: 990px) {
  .about-icons {
  	.col-xs-6 {
    	width: 49%;
  	}
  }

}
/*  Hero home */
@media (max-width: 710px) {
  .home { 
    h1 {
      font-size: 28px;
    }
    h2 {
      margin-top:0;
    }
  }
}

@media (max-width: 800px) {
  .hand {
    width: 338px;
    height: 348px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    top: 302px;
    right: 0;
    background-size: 321px auto;
  }
  .hero {
    height: 650px;
    position: relative;
    width: 100%;
  }
  .home-bg{
    height: 580px;
  }
}
@media (max-width: 940px) {


  /*.home-bg{
    top: 0;
    height: auto;
  }
  .home {
    /*padding: 0; 
  }*/
  .intro {
    margin-top: 20px;
  }
}

/*  Footer */

@media (max-width: 580px) {
  footer .contact-detail {
    text-align: left;
    .telephone{
      margin-left: 0;
    }
  }
}

@media (min-width: 440px) and (max-width: 580px) {
  footer .contact-detail {
    text-align: left;
    .telephone{
      margin-left: 10px;
      clear: left;
      display: block;
    }
  }
}

