<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-4">  
      <h3>News</h3>
      <ul class="none">
        <li><a href="#" class="">My Dry July</a><p>7 days ago</p></li>
        <li><a href="#" class="">NetHui 2014</a><p>3 weeks ago</p></li>
        <li><a href="#" class="">The Wellington Gold Awards 2014</a><p>1 month ago</p></li>
      </ul>
    </div>
    <div class="col-md-8">  
      <h3>Contact us</h3>
      <p class="contact-detail"><span class="address">Edward St, Te Aro, Wellington 6011, New Zealand</span><span class="telephone"><a href="tel:+64210707264">+64 21 0707 264</a></span></p>
      <p class="contact-detail"><span class="address">1355 Market St. Suite #488 San Francisco, CA 94103</span><span class="telephone"><a href="tel:+16504916647">+1 650 491 6647</a></span></p>
      <p class="blue button"><a href="mailto:hello@socialcode.io" class="more-link">hello@socialcode.io</a></p>
      <div class="row social-footer">
        <a href="https://www.facebook.com/SocialCode.io" target="_blank" class="col-xs-6 col-md-4"><span class="icon-nav facebook-icon-nav" target="_blank"><i class="fa fa-facebook"></i></span><span class="social-text facebook-color"><p>LIKE ON FACEBOOK</p></span>
        </a>
        <a href="https://twitter.com/socialcode_io" target="_blank" class="col-xs-6 col-md-4"><span class="icon-nav twitter-icon-nav" target="_blank"><i class="fa fa-twitter"></i></span><span class="social-text twitter-color"><p>FOLLOW ON TWITTER</p></span>
        </a>
        <a href="https://www.youtube.com/channel/UCLHyV4-OvCEl_tjdwh1nEsg" target="_blank" class="col-xs-6 col-md-4 "><span class="icon-nav youtube-icon-nav" target="_blank"><i class="fa fa-youtube"></i></span><span class="social-text youtube-color"><p>SUBSCRIBE ON YOUTUBE</p></span>
        </a>
      </div>
    </div>
  </div>
  </div>
</footer>
