<footer>
  <div class="container">
  <div class="row">
    <div class="col-md-4">  
      <h3>News</h3>
      <ul class="none">
        <li><a href="#" class="">My Dry July</a><p>7 days ago</p></li>
        <li><a href="#" class="">NetHui 2014</a><p>3 weeks ago</p></li>
        <li><a href="#" class="">The Wellington Gold Awards 2014</a><p>1 month ago</p></li>
      </ul>
    </div>
    <div class="col-md-8">  
      <h3>Contact us</h3>
      <p class="contact-detail"><span class="address">15 Edward St, Te Aro, Wellington 6011, New Zealand</span><span class="telephone"><a href="tel:+64210707264">+64 21 0707 264</a></span></p>
      <p class="contact-detail"><span class="address">2500 Hospital Drive, Bldg 2, Mountain View, CA 94040</span><span class="telephone"><a href="tel:+16504916647">+1 650 491 6647</a></span></p>
      <p class="blue button"><a href="mailto:hello@socialcode.io" class="more-link">Email us</a></p>
    </div>
  </div>
  </div>
</footer>
