<div class="container">
  <div class="row">
    <div class="col-md-12">

      <a class="site-title text-hide" href="{{ site.baseurl }}/">{{ site.title }}</a>

      <nav class="site-nav right">
        <div class="trigger left">
          {% for page in site.pages %}
            {% if page.title %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endif %}
          {% endfor %}
        </div>
        <div class="social-nav">
          <a href="#" class="facebook-icon-nav" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="https://twitter.com/socialcode_io" class="twitter-icon-nav" target="_blank"><i class="fa fa-twitter"></i></a>
          <a href="#" class="youtube-icon-nav" target="_blank"><i class="fa fa-youtube"></i></a>
        </div>
      </nav>

    </div>
  </div>
</div>
